$mobile: 375px;
$Desktop: 1440px;

$soft-blue: #8bacda;
$cyan: #00fff7;

$very-dark-blue-main-bg: #0d192b;
$very-dark-blue-card-bg: #14253d;
$very-dark-blue-line: #2f415b;
$white: #ffffff;

$font-size-paragraph: 18px;

$normal: 300;
$semi-bold: 400;
$bold: 600;
